.swiper {
    margin-left: 0 !important;
    width: 100%;
    height: 100%;
}
.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}
.review-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 3rem;
  width: 30.5rem;
  height: 12rem;
  background: rgba(255, 255, 255, 0.26);
  border: 7px solid var(--blueCard);
  box-shadow: var(--boxShadow);
  border-radius: 20px;
}
.review-wrapper > img {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}
.review-wrapper > span {
  color: var(--gray);
}
